*.o
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/install-sh
/missing
/regress/fork
/regress/stat
/stamp-h1
/systrace
/ylwrap
Makefile
Makefile.in
